.login-form{
  position: center;
  margin-top: 4vw;
  margin-left: 24vw;
  margin-bottom: 40vw;
    background: url(../../../public/5.jpg) no-repeat;
    background-position: center;
    background-size:cover;
    padding: 5%;

}
.opci{
    display: grid;
    grid-template-rows: 0.3fr 0.01fr 1fr; /* Divide en 3 columnas de igual ancho */
    grid-gap: 8px;
    height: 100px;
}
.form{
    width:40vw;
    color: white;
}
:root{
    --bg-color:#04e561;
    --primary-color:#006000;
}
.op1{
    width: 100%;
    height: 100%;
    color:var(--primary-color);
    font-size:0.1 rem;
    border:2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 -150em var(--primary-color),
    inset 0 0 .3em 0 var(--primary-color);
    text-shadow: 0 0 .125em currentColor;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 300ms ease;
    




}
.btn-primary{
    --bs-btn-hover-border-color:#006000 ;
}
.op1::before{
    content:'';
    position: absolute;
    left:-20%;
    top: 120%;
    background-color: var(--primary-color);
    filter:blur(20px);
    opacity: .7;
    transform: 
    perspective(1em)
    rotateX(40deg)
     ;
}
.op1::after{
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 1em .2em var(--primary-color);
    opacity: 0;
    border-radius: inherit;
}
.op1:hover{
    background-color: var(--primary-color);
    color:var(--bg-color);
    text-shadow: none;
}
.op1:hover::after{
    opacity: 1;
}


.op2{
    display: flex;
}
.op3{
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    color:var(--primary-color);
    font-size:0.1 rem;
    border:2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 -150em var(--primary-color),
    inset 0 0 .3em 0 var(--primary-color);
    text-shadow: 0 0 .125em currentColor;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 300ms ease;
}
.op3::before{
    content:'';
    position: absolute;
    left:-20%;
    top: 120%;
    background-color: var(--primary-color);
    filter:blur(20px);
    opacity: .7;
    transform: 
    perspective(1em)
    rotateX(40deg)
     ;
}
.op3::after{
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 1em .2em var(--primary-color);
    opacity: 0;
    border-radius: inherit;
}
.op3:hover{
    background-color: var(--primary-color);
    color:var(--bg-color);
    text-shadow: none;
}
.op3:hover::after{
    opacity: 1;
}

